@import 'normalize.css';
@import 'bootstrap';
@import 'react-toastify/dist/ReactToastify.css';
@import '@fontsource/yatra-one';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8ede3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$button-primary-color: #bdd2b6;

.btn-primary {
  @include button-variant(
    $button-primary-color,
    darken($button-primary-color, 7.5%),
    darken($button-primary-color, 50%),
    lighten($button-primary-color, 5%),
    lighten($button-primary-color, 50%),
    darken($button-primary-color, 50%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $button-primary-color,
    #222222,
    lighten($button-primary-color, 5%),
    $button-primary-color
  );
}
