$primary: #bdd2b6;
$secondary: #798777;

$nav-tabs-link-active-bg: var(--bs-light);
$nav-tabs-border-width: 2px;
$nav-tabs-border-color: rgba(var(--bs-secondary-rgb), 0.25);
$nav-tabs-link-active-border-color: rgba(var(--bs-secondary-rgb), 0.25)
  rgba(var(--bs-secondary-rgb), 0.25) $nav-tabs-link-active-bg;
$nav-tabs-link-hover-border-color: rgba(var(--bs-primary-rgb), 0.25)
  rgba(var(--bs-primary-rgb), 0.25) $nav-tabs-border-color;

@import 'normalize.css';
@import 'bootstrap';
@import 'react-toastify/dist/ReactToastify.css';
@import '@fontsource/yatra-one';

:root {
  --toastify-color-success: var(--bs-primary);
  --toastify-color-error: var(--bs-secondary);
  --toastify-color-warning: #f7d3b1;
  --toastify-toast-background: var(--bs-light);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8ede3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vh-70 {
  height: 70vh;
}
